@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root { 
    --white: var(--white);
    --light: var(--ivory); 
    --dark: var(--darkgrey);
}

body{ 
    font-family: "Dongle", sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {font-weight: 400%;}

p { 
    font-size: 40px;
}